services:
  # Backend API
  - type: web
    name: atencion-backend
    env: python
    region: oregon
    plan: free
    branch: main
    rootDir: Backend
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn app.main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: "3.10.14"
      - key: CORS_ORIGINS
        value: "*"
    
  # Frontend React
  - type: web
    name: atencion-frontend
    env: node
    region: oregon
    plan: free
    branch: main
    rootDir: frontend
    buildCommand: npm install && npm run build
    startCommand: npm run start
    envVars:
      - key: NODE_VERSION
        value: "20.11.1"

