# Core web framework
fastapi==0.115.5
uvicorn==0.32.0

# Imagen / Video
opencv-python-headless==4.10.0.84
mediapipe==0.10.14
numpy==1.26.4

# Machine Learning CPU
tensorflow-cpu==2.15.0
scikit-learn==1.5.2

# Utilidades
pandas==2.2.3
matplotlib==3.9.2

# Asíncrono y tipado
asyncio==3.4.3
python-multipart==0.0.9

# Logging y rendimiento
psutil==6.0.0
